@import 'colors.scss';
.Footer {
  text-align: center;
  .navbar-expand-md {
    justify-content: center !important;
  }
  a {
    color: white;
    &:hover {
      color: $primary !important;
    }
  }
}
