@import "colors";
.LeftPanel {
  background-color: $panel-bg;
  height: 100%;
  text-align: center;
  font-size: 12px !important;
  .badge.badge-pill.badge-info {
    width: 100%;
    padding: 1.00em .4em;
    font-size: 16px;
    border-radius: 0;
  }
  .list-group-item {
    padding: 0.5rem;
  }
}