@import "colors";
.RightPanel {
  background-color: white;
  height: 100%;
  font-size: 12px !important;
  .badge.badge-pill.badge-info {
    width: 100%;
    padding: 1em 0.4em;
    font-size: 16px;
    border-radius: 0;
  }
  .input-group-prepend {
    .input-group-text {
      color: white;
      background-color: black;
      font-size: 12px;
    }
  }
  .Tuple {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    .First {
      width: 50%;
    }
    .Second {
      width: 50%;
    }
  }
  .Single {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
